
*.aux

*.csv

*.ods

*.lol

*.zip

.DS_Store

*.ilg

*.ind

*.bibexample

*.bibexample

*.lb

*.fdb_latexmk

*.bibexample

*.fls

*.bibexample

*.bibexample

*.sav

archaeologie.bibexample

*.sav
*.bak
*.xml
*.gz
*.thm
*.toc
*.bbl
*.bcf
*.blg
*.log
*.idx
*.listing
